<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Garden</title>
    <style>
      body {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <div id="output"></div>
    <canvas id="game-canvas"></canvas>
    {% if debug %}
      <button id="pause-button">⏸️</button>
      <button id="update-button">>>️</button>
      <input type="range" min="1" max="20" value="10" class="slider" id="tickrate">
    {% endif %}
    <script>
      const CELL_SIZE = 15;
      const GREEN = "#009933";
      const WIDTH = {{ width }};
      const HEIGHT = {{ height }};

      const canvas = document.getElementById("game-canvas");
      canvas.height = (CELL_SIZE + 1) * HEIGHT + 1;
      canvas.width = (CELL_SIZE + 1) * WIDTH + 1;

      const ctx = canvas.getContext('2d');

      const drawGrid = () => {
          ctx.beginPath();
          ctx.strokeStyle = GREEN;

          // Vertical Lines
          for (let i = 0; i <= WIDTH; i ++) {
              ctx.moveTo(i * (CELL_SIZE + 1) + 1, 0);
              ctx.lineTo(i * (CELL_SIZE + 1) + 1, (CELL_SIZE + 1) * HEIGHT);
          }

          // Horizontal Lines
          for (let j = 0; j <= HEIGHT; j ++) {
              ctx.moveTo(0,                           j * (CELL_SIZE + 1) + 1)
              ctx.lineTo((CELL_SIZE + 1) * WIDTH + 1, j * (CELL_SIZE + 1) + 1);
          }

          ctx.stroke();
      };

      const drawCells = (cells) => {
        for (let x = 0; x <= WIDTH; x++) {
          for (let y =0; y <= HEIGHT; y++) {
            ctx.fillStyle = GREEN;
            ctx.fillRect(
              y * (CELL_SIZE + 1) + 1,
              x * (CELL_SIZE + 1) + 1,
              CELL_SIZE,
              CELL_SIZE
            );
          }
        }
        for (let i = 0; i < cells.length; i++) {
          ctx.fillStyle = cells[i].color;
          ctx.fillRect(
            cells[i].position.y * (CELL_SIZE + 1) + 1,
            cells[i].position.x * (CELL_SIZE + 1) + 1,
            CELL_SIZE,
            CELL_SIZE
          );
        }
      }
      
      const render = (cells) => {
        drawGrid();
        // console.log(cells);
        drawCells(cells);
      };

      var paused = false;


      function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
      }

      var wsUri = "ws://{{ host_address }}:7878/websocket";
      var output;

      async function update()
      {
        output = document.getElementById("output");
        websocket = new WebSocket(wsUri);
        websocket.onopen = function(evt) { onOpen(evt) };
        websocket.onclose = function(evt) { onClose(evt) };
        websocket.onmessage = function(evt) { onMessage(evt) };
        websocket.onerror = function(evt) { onError(evt) };
      }

      function onOpen(evt)
      {
      }

      function doSend(message)
      {
        websocket.send(message);
      }

      function onClose(evt)
      {
        console.log("Websocket DISCONNECTED");
      }

      function onMessage(evt)
      {
        cells = JSON.parse(evt.data);
        render(cells);
      }

      function onError(evt)
      {
        console.log("Websocket ERROR:" + evt.data);
      }


      window.addEventListener("load", update, false);

      {% if debug %}
      // Triggering pauses from multiple, different browsers will cause weird behavior
      // Just not worth syncing this up atm as it'll only ever be me debugging
      const togglePauseWorld = (evt) => {
        if (paused == false) {
          paused = true;
          document.getElementById("pause-button").innerHTML = "▶";
          doSend("pause");
        } else {
          paused = false;
          document.getElementById("pause-button").innerHTML = "⏸️️";
          doSend("unpause")
        }
      }
      
      const updateWorld = (evt) => {
        console.log("update");
        doSend("update");
      }

      const updateTickRate = (evt) => {
        value = document.getElementById("tickrate").value;
        tickRate = 200 - ((value - 1) * 10)
        doSend("tickrate-" + tickRate);
      }

      document.getElementById("pause-button").addEventListener("click", togglePauseWorld);
      document.getElementById("update-button").addEventListener("click", updateWorld);
      document.getElementById("tickrate").addEventListener("change", updateTickRate);
      {% endif %}

  </script>
  </body>
</html>
